{% extends 'base.html.twig' %}

{% block title %}Détails Certification – Cassandre Communication{% endblock %}

{% block body %}
    <h2>Certified Ethical Hacker (CEH) – Session 2025‑09‑01</h2>

    <div class="row g-4 mt-3">
        <div class="col-md-8">
            <h4>Programme</h4>
            <ol>
                <li>Introduction aux tests d’intrusion</li>
                <!-- Autres éléments... -->
            </ol>
        </div>
    </div>
{% endblock %}